In [1]:
from google.colab import drive

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
drive.mount('/content/gdrive')

In [2]:
import pandas as pd

In [3]:
DF = pd.read_csv("/content/gdrive/MyDrive/Datasets/pokemon_data.csv")
df = DF

FileNotFoundError: [Errno 2] No such file or directory: '/content/gdrive/MyDrive/Datasets/pokemon_data.csv'

In [8]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
df['Name'].head()
# df.Name

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [12]:
df[['Name', 'Type 1', 'Sp. Def', 'Speed']].head()

                    Name Type 1  Sp. Def  Speed
0              Bulbasaur  Grass       65     45
1                Ivysaur  Grass       80     60
2               Venusaur  Grass      100     80
3  VenusaurMega Venusaur  Grass      120     80
4             Charmander   Fire       50     65

In [13]:
# Do changes and see results
df.iloc[ 5 : 10, 5]

5     64
6     84
7    130
8    104
9     48
Name: Attack, dtype: int64

In [14]:
for index, row in df.iterrows():
  # print(index, row)
  print(index, row[['Name', 'Type 1']])

0 Name      Bulbasaur
Type 1        Grass
Name: 0, dtype: object
1 Name      Ivysaur
Type 1      Grass
Name: 1, dtype: object
2 Name      Venusaur
Type 1       Grass
Name: 2, dtype: object
3 Name      VenusaurMega Venusaur
Type 1                    Grass
Name: 3, dtype: object
4 Name      Charmander
Type 1          Fire
Name: 4, dtype: object
5 Name      Charmeleon
Type 1          Fire
Name: 5, dtype: object
6 Name      Charizard
Type 1         Fire
Name: 6, dtype: object
7 Name      CharizardMega Charizard X
Type 1                         Fire
Name: 7, dtype: object
8 Name      CharizardMega Charizard Y
Type 1                         Fire
Name: 8, dtype: object
9 Name      Squirtle
Type 1       Water
Name: 9, dtype: object
10 Name      Wartortle
Type 1        Water
Name: 10, dtype: object
11 Name      Blastoise
Type 1        Water
Name: 11, dtype: object
12 Name      BlastoiseMega Blastoise
Type 1                      Water
Name: 12, dtype: object
13 Name      Caterpie
Type 1         Bug
Name: 13, dtype: object
14 Name      Metapod
Type 1        Bug
Name: 14, dtype: object
15 Name      Butterfree
Type 1           Bug
Name: 15, dtype: object
16 Name      Weedle
Type 1       Bug
Name: 16, dtype: object
17 Name      Kakuna
Type 1       Bug
Name: 17, dtype: object
18 Name      Beedrill
Type 1         Bug
Name: 18, dtype: object
19 Name      BeedrillMega Beedrill
Type 1                      Bug
Name: 19, dtype: object
20 Name      Pidgey
Type 1    Normal
Name: 20, dtype: object
21 Name      Pidgeotto
Type 1       Normal
Name: 21, dtype: object
22 Name      Pidgeot
Type 1     Normal
Name: 22, dtype: object
23 Name      PidgeotMega Pidgeot
Type 1                 Normal
Name: 23, dtype: object
24 Name      Rattata
Type 1     Normal
Name: 24, dtype: object
25 Name      Raticate
Type 1      Normal
Name: 25, dtype: object
26 Name      Spearow
Type 1     Normal
Name: 26, dtype: object
27 Name      Fearow
Type 1    Normal
Name: 27, dtype: object
28 Name       Ekans
Type 1    Poison
Name: 28, dtype: object
29 Name       Arbok
Type 1    Poison
Name: 29, dtype: object
30 Name       Pikachu
Type 1    Electric
Name: 30, dtype: object
31 Name        Raichu
Type 1    Electric
Name: 31, dtype: object
32 Name      Sandshrew
Type 1       Ground
Name: 32, dtype: object
33 Name      Sandslash
Type 1       Ground
Name: 33, dtype: object
34 Name      Nidoran (Female)
Type 1              Poison
Name: 34, dtype: object
35 Name      Nidorina
Type 1      Poison
Name: 35, dtype: object
36 Name      Nidoqueen
Type 1       Poison
Name: 36, dtype: object
37 Name      Nidoran (Male)
Type 1            Poison
Name: 37, dtype: object
38 Name      Nidorino
Type 1      Poison
Name: 38, dtype: object
39 Name      Nidoking
Type 1      Poison
Name: 39, dtype: object
40 Name      Clefairy
Type 1       Fairy
Name: 40, dtype: object
41 Name      Clefable
Type 1       Fairy
Name: 41, dtype: object
42 Name      Vulpix
Type 1      Fire
Name: 42, dtype: object
43 Name      Ninetales
Type 1         Fire
Name: 43, dtype: object
44 Name      Jigglypuff
Type 1        Normal
Name: 44, dtype: object
45 Name      Wigglytuff
Type 1        Normal
Name: 45, dtype: object
46 Name       Zubat
Type 1    Poison
Name: 46, dtype: object
47 Name      Golbat
Type 1    Poison
Name: 47, dtype: object
48 Name      Oddish
Type 1     Grass
Name: 48, dtype: object
49 Name      Gloom
Type 1    Grass
Name: 49, dtype: object
50 Name      Vileplume
Type 1        Grass
Name: 50, dtype: object
51 Name      Paras
Type 1      Bug
Name: 51, dtype: object
52 Name      Parasect
Type 1         Bug
Name: 52, dtype: object
53 Name      Venonat
Type 1        Bug
Name: 53, dtype: object
54 Name      Venomoth
Type 1         Bug
Name: 54, dtype: object
55 Name      Diglett
Type 1     Ground
Name: 55, dtype: object
56 Name      Dugtrio
Type 1     Ground
Name: 56, dtype: object
57 Name      Meowth
Type 1    Normal
Name: 57, dtype: object
58 Name      Persian
Type 1     Normal
Name: 58, dtype: object
59 Name      Psyduck
Type 1      Water
Name: 59, dtype: object
60 Name      Golduck
Type 1      Water
Name: 60, dtype: object
61 Name        Mankey
Type 1    Fighting
Name: 61, dtype: object
62 Name      Primeape
Type 1    Fighting
Name: 62, dtype: object
63 Name      Growlithe
Type 1         Fire
Name: 63, dtype: object
64 Name      Arcanine
Type 1        Fire
Name: 64, dtype: object
65 Name      Poliwag
Type 1      Water
Name: 65, dtype: object
66 Name      Poliwhirl
Type 1        Water
Name: 66, dtype: object
67 Name      Poliwrath
Type 1        Water
Name: 67, dtype: object
68 Name         Abra
Type 1    Psychic
Name: 68, dtype: object
69 Name      Kadabra
Type 1    Psychic
Name: 69, dtype: object
70 Name      Alakazam
Type 1     Psychic
Name: 70, dtype: object
71 Name      AlakazamMega Alakazam
Type 1                  Psychic
Name: 71, dtype: object
72 Name        Machop
Type 1    Fighting
Name: 72, dtype: object
73 Name       Machoke
Type 1    Fighting
Name: 73, dtype: object
74 Name       Machamp
Type 1    Fighting
Name: 74, dtype: object
75 Name      Bellsprout
Type 1         Grass
Name: 75, dtype: object
76 Name      Weepinbell
Type 1         Grass
Name: 76, dtype: object
77 Name      Victreebel
Type 1         Grass
Name: 77, dtype: object
78 Name      Tentacool
Type 1        Water
Name: 78, dtype: object
79 Name      Tentacruel
Type 1         Water
Name: 79, dtype: object
80 Name      Geodude
Type 1       Rock
Name: 80, dtype: object
81 Name      Graveler
Type 1        Rock
Name: 81, dtype: object
82 Name      Golem
Type 1     Rock
Name: 82, dtype: object
83 Name      Ponyta
Type 1      Fire
Name: 83, dtype: object
84 Name      Rapidash
Type 1        Fire
Name: 84, dtype: object
85 Name      Slowpoke
Type 1       Water
Name: 85, dtype: object
86 Name      Slowbro
Type 1      Water
Name: 86, dtype: object
87 Name      SlowbroMega Slowbro
Type 1                  Water
Name: 87, dtype: object
88 Name      Magnemite
Type 1     Electric
Name: 88, dtype: object
89 Name      Magneton
Type 1    Electric
Name: 89, dtype: object
90 Name      Farfetch'd
Type 1        Normal
Name: 90, dtype: object
91 Name       Doduo
Type 1    Normal
Name: 91, dtype: object
92 Name      Dodrio
Type 1    Normal
Name: 92, dtype: object
93 Name       Seel
Type 1    Water
Name: 93, dtype: object
94 Name      Dewgong
Type 1      Water
Name: 94, dtype: object
95 Name      Grimer
Type 1    Poison
Name: 95, dtype: object
96 Name         Muk
Type 1    Poison
Name: 96, dtype: object
97 Name      Shellder
Type 1       Water
Name: 97, dtype: object
98 Name      Cloyster
Type 1       Water
Name: 98, dtype: object
99 Name      Gastly
Type 1     Ghost
Name: 99, dtype: object
100 Name      Haunter
Type 1      Ghost
Name: 100, dtype: object
101 Name      Gengar
Type 1     Ghost
Name: 101, dtype: object
102 Name      GengarMega Gengar
Type 1                Ghost
Name: 102, dtype: object
103 Name      Onix
Type 1    Rock
Name: 103, dtype: object
104 Name      Drowzee
Type 1    Psychic
Name: 104, dtype: object
105 Name        Hypno
Type 1    Psychic
Name: 105, dtype: object
106 Name      Krabby
Type 1     Water
Name: 106, dtype: object
107 Name      Kingler
Type 1      Water
Name: 107, dtype: object
108 Name       Voltorb
Type 1    Electric
Name: 108, dtype: object
109 Name      Electrode
Type 1     Electric
Name: 109, dtype: object
110 Name      Exeggcute
Type 1        Grass
Name: 110, dtype: object
111 Name      Exeggutor
Type 1        Grass
Name: 111, dtype: object
112 Name      Cubone
Type 1    Ground
Name: 112, dtype: object
113 Name      Marowak
Type 1     Ground
Name: 113, dtype: object
114 Name      Hitmonlee
Type 1     Fighting
Name: 114, dtype: object
115 Name      Hitmonchan
Type 1      Fighting
Name: 115, dtype: object
116 Name      Lickitung
Type 1       Normal
Name: 116, dtype: object
117 Name      Koffing
Type 1     Poison
Name: 117, dtype: object
118 Name      Weezing
Type 1     Poison
Name: 118, dtype: object
119 Name      Rhyhorn
Type 1     Ground
Name: 119, dtype: object
120 Name      Rhydon
Type 1    Ground
Name: 120, dtype: object
121 Name      Chansey
Type 1     Normal
Name: 121, dtype: object
122 Name      Tangela
Type 1      Grass
Name: 122, dtype: object
123 Name      Kangaskhan
Type 1        Normal
Name: 123, dtype: object
124 Name      KangaskhanMega Kangaskhan
Type 1                       Normal
Name: 124, dtype: object
125 Name      Horsea
Type 1     Water
Name: 125, dtype: object
126 Name      Seadra
Type 1     Water
Name: 126, dtype: object
127 Name      Goldeen
Type 1      Water
Name: 127, dtype: object
128 Name      Seaking
Type 1      Water
Name: 128, dtype: object
129 Name      Staryu
Type 1     Water
Name: 129, dtype: object
130 Name      Starmie
Type 1      Water
Name: 130, dtype: object
131 Name      Mr. Mime
Type 1     Psychic
Name: 131, dtype: object
132 Name      Scyther
Type 1        Bug
Name: 132, dtype: object
133 Name      Jynx
Type 1     Ice
Name: 133, dtype: object
134 Name      Electabuzz
Type 1      Electric
Name: 134, dtype: object
135 Name      Magmar
Type 1      Fire
Name: 135, dtype: object
136 Name      Pinsir
Type 1       Bug
Name: 136, dtype: object
137 Name      PinsirMega Pinsir
Type 1                  Bug
Name: 137, dtype: object
138 Name      Tauros
Type 1    Normal
Name: 138, dtype: object
139 Name      Magikarp
Type 1       Water
Name: 139, dtype: object
140 Name      Gyarados
Type 1       Water
Name: 140, dtype: object
141 Name      GyaradosMega Gyarados
Type 1                    Water
Name: 141, dtype: object
142 Name      Lapras
Type 1     Water
Name: 142, dtype: object
143 Name       Ditto
Type 1    Normal
Name: 143, dtype: object
144 Name       Eevee
Type 1    Normal
Name: 144, dtype: object
145 Name      Vaporeon
Type 1       Water
Name: 145, dtype: object
146 Name       Jolteon
Type 1    Electric
Name: 146, dtype: object
147 Name      Flareon
Type 1       Fire
Name: 147, dtype: object
148 Name      Porygon
Type 1     Normal
Name: 148, dtype: object
149 Name      Omanyte
Type 1       Rock
Name: 149, dtype: object
150 Name      Omastar
Type 1       Rock
Name: 150, dtype: object
151 Name      Kabuto
Type 1      Rock
Name: 151, dtype: object
152 Name      Kabutops
Type 1        Rock
Name: 152, dtype: object
153 Name      Aerodactyl
Type 1          Rock
Name: 153, dtype: object
154 Name      AerodactylMega Aerodactyl
Type 1                         Rock
Name: 154, dtype: object
155 Name      Snorlax
Type 1     Normal
Name: 155, dtype: object
156 Name      Articuno
Type 1         Ice
Name: 156, dtype: object
157 Name        Zapdos
Type 1    Electric
Name: 157, dtype: object
158 Name      Moltres
Type 1       Fire
Name: 158, dtype: object
159 Name      Dratini
Type 1     Dragon
Name: 159, dtype: object
160 Name      Dragonair
Type 1       Dragon
Name: 160, dtype: object
161 Name      Dragonite
Type 1       Dragon
Name: 161, dtype: object
162 Name       Mewtwo
Type 1    Psychic
Name: 162, dtype: object
163 Name      MewtwoMega Mewtwo X
Type 1                Psychic
Name: 163, dtype: object
164 Name      MewtwoMega Mewtwo Y
Type 1                Psychic
Name: 164, dtype: object
165 Name          Mew
Type 1    Psychic
Name: 165, dtype: object
166 Name      Chikorita
Type 1        Grass
Name: 166, dtype: object
167 Name      Bayleef
Type 1      Grass
Name: 167, dtype: object
168 Name      Meganium
Type 1       Grass
Name: 168, dtype: object
169 Name      Cyndaquil
Type 1         Fire
Name: 169, dtype: object
170 Name      Quilava
Type 1       Fire
Name: 170, dtype: object
171 Name      Typhlosion
Type 1          Fire
Name: 171, dtype: object
172 Name      Totodile
Type 1       Water
Name: 172, dtype: object
173 Name      Croconaw
Type 1       Water
Name: 173, dtype: object
174 Name      Feraligatr
Type 1         Water
Name: 174, dtype: object
175 Name      Sentret
Type 1     Normal
Name: 175, dtype: object
176 Name      Furret
Type 1    Normal
Name: 176, dtype: object
177 Name      Hoothoot
Type 1      Normal
Name: 177, dtype: object
178 Name      Noctowl
Type 1     Normal
Name: 178, dtype: object
179 Name      Ledyba
Type 1       Bug
Name: 179, dtype: object
180 Name      Ledian
Type 1       Bug
Name: 180, dtype: object
181 Name      Spinarak
Type 1         Bug
Name: 181, dtype: object
182 Name      Ariados
Type 1        Bug
Name: 182, dtype: object
183 Name      Crobat
Type 1    Poison
Name: 183, dtype: object
184 Name      Chinchou
Type 1       Water
Name: 184, dtype: object
185 Name      Lanturn
Type 1      Water
Name: 185, dtype: object
186 Name         Pichu
Type 1    Electric
Name: 186, dtype: object
187 Name      Cleffa
Type 1     Fairy
Name: 187, dtype: object
188 Name      Igglybuff
Type 1       Normal
Name: 188, dtype: object
189 Name      Togepi
Type 1     Fairy
Name: 189, dtype: object
190 Name      Togetic
Type 1      Fairy
Name: 190, dtype: object
191 Name         Natu
Type 1    Psychic
Name: 191, dtype: object
192 Name         Xatu
Type 1    Psychic
Name: 192, dtype: object
193 Name        Mareep
Type 1    Electric
Name: 193, dtype: object
194 Name       Flaaffy
Type 1    Electric
Name: 194, dtype: object
195 Name      Ampharos
Type 1    Electric
Name: 195, dtype: object
196 Name      AmpharosMega Ampharos
Type 1                 Electric
Name: 196, dtype: object
197 Name      Bellossom
Type 1        Grass
Name: 197, dtype: object
198 Name      Marill
Type 1     Water
Name: 198, dtype: object
199 Name      Azumarill
Type 1        Water
Name: 199, dtype: object
200 Name      Sudowoodo
Type 1         Rock
Name: 200, dtype: object
201 Name      Politoed
Type 1       Water
Name: 201, dtype: object
202 Name      Hoppip
Type 1     Grass
Name: 202, dtype: object
203 Name      Skiploom
Type 1       Grass
Name: 203, dtype: object
204 Name      Jumpluff
Type 1       Grass
Name: 204, dtype: object
205 Name       Aipom
Type 1    Normal
Name: 205, dtype: object
206 Name      Sunkern
Type 1      Grass
Name: 206, dtype: object
207 Name      Sunflora
Type 1       Grass
Name: 207, dtype: object
208 Name      Yanma
Type 1      Bug
Name: 208, dtype: object
209 Name      Wooper
Type 1     Water
Name: 209, dtype: object
210 Name      Quagsire
Type 1       Water
Name: 210, dtype: object
211 Name       Espeon
Type 1    Psychic
Name: 211, dtype: object
212 Name      Umbreon
Type 1       Dark
Name: 212, dtype: object
213 Name      Murkrow
Type 1       Dark
Name: 213, dtype: object
214 Name      Slowking
Type 1       Water
Name: 214, dtype: object
215 Name      Misdreavus
Type 1         Ghost
Name: 215, dtype: object
216 Name        Unown
Type 1    Psychic
Name: 216, dtype: object
217 Name      Wobbuffet
Type 1      Psychic
Name: 217, dtype: object
218 Name      Girafarig
Type 1       Normal
Name: 218, dtype: object
219 Name      Pineco
Type 1       Bug
Name: 219, dtype: object
220 Name      Forretress
Type 1           Bug
Name: 220, dtype: object
221 Name      Dunsparce
Type 1       Normal
Name: 221, dtype: object
222 Name      Gligar
Type 1    Ground
Name: 222, dtype: object
223 Name      Steelix
Type 1      Steel
Name: 223, dtype: object
224 Name      SteelixMega Steelix
Type 1                  Steel
Name: 224, dtype: object
225 Name      Snubbull
Type 1       Fairy
Name: 225, dtype: object
226 Name      Granbull
Type 1       Fairy
Name: 226, dtype: object
227 Name      Qwilfish
Type 1       Water
Name: 227, dtype: object
228 Name      Scizor
Type 1       Bug
Name: 228, dtype: object
229 Name      ScizorMega Scizor
Type 1                  Bug
Name: 229, dtype: object
230 Name      Shuckle
Type 1        Bug
Name: 230, dtype: object
231 Name      Heracross
Type 1          Bug
Name: 231, dtype: object
232 Name      HeracrossMega Heracross
Type 1                        Bug
Name: 232, dtype: object
233 Name      Sneasel
Type 1       Dark
Name: 233, dtype: object
234 Name      Teddiursa
Type 1       Normal
Name: 234, dtype: object
235 Name      Ursaring
Type 1      Normal
Name: 235, dtype: object
236 Name      Slugma
Type 1      Fire
Name: 236, dtype: object
237 Name      Magcargo
Type 1        Fire
Name: 237, dtype: object
238 Name      Swinub
Type 1       Ice
Name: 238, dtype: object
239 Name      Piloswine
Type 1          Ice
Name: 239, dtype: object
240 Name      Corsola
Type 1      Water
Name: 240, dtype: object
241 Name      Remoraid
Type 1       Water
Name: 241, dtype: object
242 Name      Octillery
Type 1        Water
Name: 242, dtype: object
243 Name      Delibird
Type 1         Ice
Name: 243, dtype: object
244 Name      Mantine
Type 1      Water
Name: 244, dtype: object
245 Name      Skarmory
Type 1       Steel
Name: 245, dtype: object
246 Name      Houndour
Type 1        Dark
Name: 246, dtype: object
247 Name      Houndoom
Type 1        Dark
Name: 247, dtype: object
248 Name      HoundoomMega Houndoom
Type 1                     Dark
Name: 248, dtype: object
249 Name      Kingdra
Type 1      Water
Name: 249, dtype: object
250 Name      Phanpy
Type 1    Ground
Name: 250, dtype: object
251 Name      Donphan
Type 1     Ground
Name: 251, dtype: object
252 Name      Porygon2
Type 1      Normal
Name: 252, dtype: object
253 Name      Stantler
Type 1      Normal
Name: 253, dtype: object
254 Name      Smeargle
Type 1      Normal
Name: 254, dtype: object
255 Name       Tyrogue
Type 1    Fighting
Name: 255, dtype: object
256 Name      Hitmontop
Type 1     Fighting
Name: 256, dtype: object
257 Name      Smoochum
Type 1         Ice
Name: 257, dtype: object
258 Name        Elekid
Type 1    Electric
Name: 258, dtype: object
259 Name      Magby
Type 1     Fire
Name: 259, dtype: object
260 Name      Miltank
Type 1     Normal
Name: 260, dtype: object
261 Name      Blissey
Type 1     Normal
Name: 261, dtype: object
262 Name        Raikou
Type 1    Electric
Name: 262, dtype: object
263 Name      Entei
Type 1     Fire
Name: 263, dtype: object
264 Name      Suicune
Type 1      Water
Name: 264, dtype: object
265 Name      Larvitar
Type 1        Rock
Name: 265, dtype: object
266 Name      Pupitar
Type 1       Rock
Name: 266, dtype: object
267 Name      Tyranitar
Type 1         Rock
Name: 267, dtype: object
268 Name      TyranitarMega Tyranitar
Type 1                       Rock
Name: 268, dtype: object
269 Name        Lugia
Type 1    Psychic
Name: 269, dtype: object
270 Name      Ho-oh
Type 1     Fire
Name: 270, dtype: object
271 Name       Celebi
Type 1    Psychic
Name: 271, dtype: object
272 Name      Treecko
Type 1      Grass
Name: 272, dtype: object
273 Name      Grovyle
Type 1      Grass
Name: 273, dtype: object
274 Name      Sceptile
Type 1       Grass
Name: 274, dtype: object
275 Name      SceptileMega Sceptile
Type 1                    Grass
Name: 275, dtype: object
276 Name      Torchic
Type 1       Fire
Name: 276, dtype: object
277 Name      Combusken
Type 1         Fire
Name: 277, dtype: object
278 Name      Blaziken
Type 1        Fire
Name: 278, dtype: object
279 Name      BlazikenMega Blaziken
Type 1                     Fire
Name: 279, dtype: object
280 Name      Mudkip
Type 1     Water
Name: 280, dtype: object
281 Name      Marshtomp
Type 1        Water
Name: 281, dtype: object
282 Name      Swampert
Type 1       Water
Name: 282, dtype: object
283 Name      SwampertMega Swampert
Type 1                    Water
Name: 283, dtype: object
284 Name      Poochyena
Type 1         Dark
Name: 284, dtype: object
285 Name      Mightyena
Type 1         Dark
Name: 285, dtype: object
286 Name      Zigzagoon
Type 1       Normal
Name: 286, dtype: object
287 Name      Linoone
Type 1     Normal
Name: 287, dtype: object
288 Name      Wurmple
Type 1        Bug
Name: 288, dtype: object
289 Name      Silcoon
Type 1        Bug
Name: 289, dtype: object
290 Name      Beautifly
Type 1          Bug
Name: 290, dtype: object
291 Name      Cascoon
Type 1        Bug
Name: 291, dtype: object
292 Name      Dustox
Type 1       Bug
Name: 292, dtype: object
293 Name      Lotad
Type 1    Water
Name: 293, dtype: object
294 Name      Lombre
Type 1     Water
Name: 294, dtype: object
295 Name      Ludicolo
Type 1       Water

In [15]:
df.loc[df['Type 1'] == "Fire"].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [16]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [17]:
df.sort_values('Attack')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

In [18]:
df.sort_values('Attack',  ascending = False) # Actually print in descending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [19]:
df.sort_values(['Name', 'Attack'],  ascending = [0, 1]) # 0 = Descedning , 1 = Ascending first one for first attribute and second one for Second attribute

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [20]:
# Making changes to the data
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [21]:
df['Total Of Attack and Defence'] = df['Attack'] + df['Defense'] 
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95

In [22]:
df = df.drop(columns = ['Total Of Attack and Defence']).head(5)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [23]:

df['Total'] = df.iloc[0: 4, 4 : 7 ].sum(axis = 1) # first 0 : 4 reperesents rows and 4 : 7 represents columns

In [24]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN

In [25]:
45 + 49 + 49

143

In [26]:
cols = list(df.columns)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [27]:
df.head(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185.0

In [28]:
# Column index changing

df = df[cols[0 : 4]+ [cols[-1]] + cols[4 : 12]]

In [29]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,143.0,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,185.0,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,245.0,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,303.0,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,NaN,39,52,43,60,50,65,1,False

In [30]:
#saving our data(exporting into desired format)

In [31]:
df = DF

In [32]:
df[0 : 4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223

In [33]:
# df.to_csv('Modified_Pokemon.csv', index = False) # index = False means it will delete the first numbering column from file
# df.to_excel('Modified_Pokemon.xlsx', index = False) # index = False means it will delete the first numbering column from file
# df.to_csv('Modified_Pokemon.txt', index = False, sep = '\t') # index = False means it will delete the first numbering column from file

In [34]:
# Filtering Data
df.loc[df['Type 1'] == 'Fire'].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,241
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,81
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,151
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False,115
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,190
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False,140

In [35]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Ice')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
509,459,Snover,Grass,Ice,60,62,50,62,60,40,4,False,112
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,167
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,237

In [36]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Ice')].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,105
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,135
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,165
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,110
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,140
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,170

In [37]:
df.loc[((df['Type 1'] == 'Grass') | (df['Type 2'] == 'Ice')) & (df['HP'] >= 90)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
94,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False,150
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False,180
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False,165
298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False,160
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,151
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,214
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,167
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,237
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False,225
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,200

In [38]:
new_df = df.loc[((df['Type 1'] == 'Grass') | (df['Type 2'] == 'Ice')) & (df['HP'] >= 90)].head(10)
new_df.to_csv('Filtererd.csv')

In [39]:
new_df.reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,94,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False,150
1,111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False,180
2,142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False,165
3,298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False,160
4,390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,151
5,434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,214
6,510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,167
7,511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,237
8,516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False,225
9,550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,200

In [40]:
new_df.reset_index().drop(columns = ['index']) ### OR

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False,150
1,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False,180
2,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False,165
3,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False,160
4,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,151
5,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,214
6,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,167
7,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,237
8,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False,225
9,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,200

In [41]:
new_df.reset_index(drop = True, inplace = True) # this method is also been used as drop

In [42]:
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False,150
1,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False,180
2,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False,165
3,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False,160
4,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,151
5,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,214
6,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,167
7,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,237
8,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False,225
9,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,200

In [43]:
df.loc[((df['Type 1'] == 'Fire') | (df['Type 2'] == 'Dragon')) & (df['HP'] >= 90)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,190
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,190
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,200
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True,200
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,220
540,483,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True,240
541,484,Palkia,Water,Dragon,90,120,100,150,120,100,4,True,220
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True,196
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True,220
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True,220

In [44]:
# names contains Mega
df[(df['Name'].str.contains('Mega'))].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,241
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,223
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,190
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,160
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,115
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,255
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,145
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,225

In [45]:
# not Mega
df[~(df['Name'].str.contains('Mega'))].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,113
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,143
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,183
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,65

In [46]:
df.loc[(((df['Type 1'] == 'Grass') | (df['Type 2'] == 'Ice')) & (df['Generation'] >= 3)) & (df['Name'].str.contains('Mega'))].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,185
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,237

In [47]:
df[df['Type 1'].str.contains('Fire')].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,241
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,81
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,151
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False,115
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,190
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False,140

In [48]:
import re

df[df['Type 1'].str.contains('Fire|Grass', regex = True)].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,122
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,162
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,241
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,182
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,81

In [49]:
df[df['Type 1'].str.contains('fire|grass|Ice', flags = re.I, regex = True)] # flags = re.I for case letter errors

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,113
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,162
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False,154
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False,301
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,230

In [50]:
df[df['Name'].str.contains('pi[a-z]*', flags = re.I, regex = True)].head(10) # * represents zero or more results

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,65
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,85
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,115
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,155
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,160
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,95
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,81
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,140
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,170
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,225

In [51]:
df[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)] # ^ represents at start of letter

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,85
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,115
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,155
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,160
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,95
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,225
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,275
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,55
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,155
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,180
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,104
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,148
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,105

In [52]:
# conditional changes

In [53]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,250
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,270
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,170
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,220
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True,230

In [54]:
df.loc[df['Type 1'] == 'Grass', 'Legendary'] = True
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,True,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,True,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,True,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,True,223
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,250
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,270
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,170
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,220
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True,230

In [55]:
df.loc[df['Type 1'] == 'Grass', 'Legendary'] = False
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,95
5,5,Charmeleon,Flamer,NaN,58,64,58,80,65,80,1,False,122
6,6,Charizard,Flamer,Flying,78,84,78,109,85,100,1,False,162
7,6,CharizardMega Charizard X,Flamer,Dragon,78,130,111,130,85,100,1,False,241
8,6,CharizardMega Charizard Y,Flamer,Flying,78,104,78,159,115,100,1,False,182
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,113

In [56]:
# df.loc[df['Total Of Attack and Defence'] >= 160, ['Generation', 'Legendary']] = ['Achi', 'bhoot Achi']
# df

In [57]:
# Aggregate Statistics(group by)

In [62]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,198.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,162.703704
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,180.593750
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,193.659091
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,219.074074
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,158.612903
Flamer,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,152.538462
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,145.000000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,143.500000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,147.098214
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,154.968750
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,133.316327
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.000000,144.014286
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,144.166667
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,139.140351
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,141.695652
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,135.386364
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,127.235294

In [63]:
df.groupby(['Type 1']).sum()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
Type 1,,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0,9777
Dark,14302,2071,2740,2177,2314,2155,2361,125,2,4917
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12,6352
Electric,15994,2631,3040,2917,3961,3243,3718,144,4,5957
Fairy,7642,1260,1046,1117,1335,1440,826,70,1,2163
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0,4393
Flamer,17025,3635,4408,3524,4627,3755,3871,167,5,7932
Flying,2711,283,315,265,377,290,410,22,2,580
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2,4959
Grass,24141,4709,5125,4956,5425,4930,4335,235,0,10081
Ground,11401,2361,3064,2715,1807,2008,2045,101,4,5779
Ice,10165,1728,1746,1714,1861,1831,1523,85,2,3460
Normal,31279,7573,7200,5865,5470,6245,7012,299,2,13065
Poison,7050,1883,2091,1927,1692,1803,1780,71,0,4018
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14,7931
Rock,17280,2876,4086,4435,2787,3321,2460,152,4,8521
Steel,11957,1761,2503,3412,1823,2177,1492,104,4,5915
Water,33946,8071,8305,8170,8379,7898,7388,320,4,16475

In [66]:
df.groupby(['Type 1']).count().sort_values(['Name'], ascending = False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Of Attack and Defence
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Flamer,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4

In [73]:
df.groupby(['Type 1', 'Type 2']).count()

                  #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Bug    Electric   2     2   2       2        2        2        2      2
       Fighting   2     2   2       2        2        2        2      2
       Fire       2     2   2       2        2        2        2      2
       Flying    14    14  14      14       14       14       14     14
       Ghost      1     1   1       1        1        1        1      1
...              ..   ...  ..     ...      ...      ...      ...    ...
Water  Ice        3     3   3       3        3        3        3      3
       Poison     3     3   3       3        3        3        3      3
       Psychic    5     5   5       5        5        5        5      5
       Rock       4     4   4       4        4        4        4      4
       Steel      1     1   1       1        1        1        1      1

                 Generation  Legendary  Total Of Attack and Defence
Type 1 Type 2
Bug    Electric           2          2                            2
       Fighting           2          2                            2
       Fire               2          2                            2
       Flying            14         14                           14
       Ghost              1          1                            1
...                     ...        ...                          ...
Water  Ice                3          3                            3
       Poison             3          3                            3
       Psychic            5          5                            5
       Rock               4          4                            4
       Steel              1          1                            1

[136 rows x 11 columns]